[Unit]
Description=Machine Check Exception Logging Daemon
After=syslog.target
ConditionPathExists=!/sys/module/edac_mce_amd/initstate

[Service]
ExecStart=/usr/sbin/mcelog --ignorenodev --daemon --foreground
StandardOutput=syslog
SuccessExitStatus=0 15

[Install]
WantedBy=multi-user.target
